$include-gne-reference-styles: true !default;

// Default component class.
$gne-reference-pane-selector: '.pane-fcl-procat-product-gne-reference-pane';
$gne-reference-selector: '.gne-reference-pane' !default;
$gne-reference-pane-text-color: $color-text-dark-primary !default;

@if ($include-gne-reference-styles) {
  #{$gne-reference-pane-selector} {
    background-color: whitesmoke;
    margin: 0 0 10px;
    padding: 1rem;
    text-align: left;

    #{$gne-reference-selector} {
      &__title,
      &__gne-reference {
        @include typography-body-2-small;
        color: $gne-reference-pane-text-color;
        font-weight: bold;
      }

      &__gne-reference {
        font-weight: normal;
      }

      &__title,
      &__gne-reference,
      &__gne-wrapper {
        display: inline-block;
      }
    }
  }
}
